.home-container{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  padding: 0 50px; 
  background-image: url('../../../Assets//Images/dark.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-content-home {
  color: rgb(199, 197, 197);
  max-width: 60%;
  text-align: center;
  padding-bottom: 50px;
}